@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");

:root {
	--text-color: white;
	--alt-text-color: orange;
	--background-color: #111;
	--gradient-color: linear-gradient(0deg, indigo, navy);
	--square-color: blue;

	height: 100%;
	scroll-behavior: smooth;
}

@keyframes bounce {
	0%   { transform: scale(1,1)      translateY(0); }
	10%  { transform: scale(1.1,.9)   translateY(0); }
	30%  { transform: scale(.9,1.1)   translateY(-50px); }
	50%  { transform: scale(1.05,.95) translateY(0); }
	57%  { transform: scale(1,1)      translateY(-3px); }
	64%  { transform: scale(1,1)      translateY(0); }
	100% { transform: scale(1,1)      translateY(0); }
}

body {
	/* full-height background */
	height: 100%;
	margin: 0;

	/* background color */
	background-color: var(--background-color);

	/* text styling */
	font-family: "Fira Code", monospace;
	color: var(--text-color);
}

/* background */
#background {
	position: fixed;
	width: 100%;
	height: 100%;
	filter: blur(8vw);
	z-index: -1;
}
#square {
	background-color: var(--square-color);
	position: absolute;
	width: 25vw;
	height: 20vh;
	bottom: 15vh;
	right: 35vw;
	z-index: -2;
}
#gradient {
	border-radius: 100%;
	position: absolute;
	width: 75vw;
	height: 90vh;
	bottom: 5vh;
	right: 15vw;
	z-index: -3;
	background-image: var(--gradient-color);
}

/* padding/centering */
main {
	padding: 10vh 20vw;
}
.patreon-widget,
img {
	display: block;
	margin: 1em auto;
}

/* text */
h1 {
	font-size: 5em;
	margin: 0;
	font-weight: 100;
}
h1:after {
	content: "✨";
}
h1,
h2,
h3 {
	text-align: center;
}
a {
	color: var(--alt-text-color);
}
p,
li {
	text-align: justify;
	text-shadow: 0 0 4px var(--background-color);
}

/* header */
header {
	flex-direction: column;
}
header,
nav {
	display: flex;
	margin: 1em;
}
header img {
	filter: invert(1);
	height: 10em;
	animation: bounce 2s cubic-bezier(0.280, 0.840, 0.420, 1) 5s infinite;
}

/* footer */
footer a {
	font-size: 3em;
}
footer a {
	color: var(--alt-text-color);
	margin: auto;
}
