@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");

html {
	height: 100%;
}

body {
	/* full-height background */
	height: 100%;
	margin: 0;

	/* background color */
	background-color: #111;

	/* text styling */
	font-family: "Fira Code", monospace;
	color: white;
}

#background {
	position: fixed;
	width: 100%;
	height: 100%;
	filter: blur(8vw);
	z-index: -1;
}

#square {
	background-color: blue;
	position: absolute;
	width: 25vw;
	height: 20vh;
	bottom: 15vh;
	right: 35vw;
	z-index: -2;
}

#gradient {
	border-radius: 100%;
	position: absolute;
	width: 75vw;
	height: 90vh;
	bottom: 5vh;
	right: 15vw;
	z-index: -3;
	background-image: linear-gradient(0deg, indigo, navy);
}

h1 {
	font-size: 5em;
	margin: 0;
	font-weight: 100;
}

h1:after {
	/*content: "✨";*/
}

h1,
h2,
h3 {
	text-align: center;
}

a {
	color: orange;
}

main {
	padding: 10vh 20vw;
}

p,
li {
	text-align: justify;
	text-shadow: 0 0 4px black;
}

.patreon-widget,
img {
	display: block;
	margin: 1em auto;
}

header {
	flex-direction: column;
}

header,
nav {
	display: flex;
	margin: 1em;
}

header img {
	filter: invert(1);
	height: 10em;
}

footer a {
	font-size: 3em;
}

footer a,
footer p {
	color: var(--text-color);
	margin: auto;
}

footer p {
	color: var(--darker-text-color);
}
