:root {
	--text-color: white;
	--alt-text-color: #a3d1ff;
	--background-color: #111;
	--gradient: linear-gradient(0deg, indigo, navy);
	--square-color: rgba(163, 209, 255, 0.08);
	--border-color: var(--alt-text-color);
	--shadow-color: var(--square-color);
	--link-color: var(--alt-text-color);
	--link-hover-color: var(--text-color);
	--input-background: hsla(0, 0%, 100%, 0.05);

	scroll-behavior: smooth;
}

@keyframes bounce {
	0% {
		transform: scale(1, 1) translateY(0);
	}

	10% {
		transform: scale(1.1, 0.9) translateY(0);
	}

	30% {
		transform: scale(0.9, 1.1) translateY(-3.125rem);
	}

	50% {
		transform: scale(1.05, 0.95) translateY(0);
	}

	57% {
		transform: scale(1, 1) translateY(-0.1875rem);
	}

	64% {
		transform: scale(1, 1) translateY(0);
	}

	100% {
		transform: scale(1, 1) translateY(0);
	}
}

/* background */
body {
	/* full-height background */
	height: 100%;
	margin: 0;

	/* background color */
	background-color: var(--background-color);

	/* No horizontal scrollbar */
	overflow-x: hidden;
}

#background {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: -1;
	filter: blur(4rem);
}

#square {
	background-color: var(--square-color);
	position: absolute;
	width: 25vw;
	height: 20vh;
	bottom: 15vh;
	right: 35vw;
	z-index: -2;
}

#gradient {
	border-radius: 100%;
	position: absolute;
	width: 75vw;
	height: 90vh;
	bottom: 5vh;
	right: 15vw;
	z-index: -3;
	background-image: var(--gradient);
}

/* padding/centering */
main {
	padding: 10vh 5vw;
}

nav,
section {
	padding: 0.5rem 0;
}

img,
.tiles a:not(.list a) {
	margin: auto;
	max-width: 100%;
}

#discord-presence img {
	clip-path: inset(45% 0 0 0);
	margin-top: -5.375rem;
}

/* text */
body,
input {
	font-family: "Fira Code", monospace;
	color: var(--text-color);
	line-height: 1.75;
}

#bio {
	font-family: "Fira Code", "Noto Color Emoji", monospace;
}

h1 {
	font-size: 8vw;
	line-height: 1.05;
	margin: 0;
	font-weight: 100;
	white-space: nowrap;
}

h1,
h2 {
	text-align: center;
}

a,
.list h3 {
	color: var(--link-color);
}

a:hover {
	color: var(--link-hover-color);
}

header nav {
	position: absolute;
	right: 1rem;
	top: 1rem;
	padding: 0;
}

header nav a {
	text-decoration: none;
	padding: 0.5rem 0.5rem;
	border: solid 0.0625rem transparent;
	border-radius: 0.25rem;
	transition: 1s;
}

header nav a:hover {
	border: solid 0.0625rem var(--border-color);
}

nav.socials a {
	font-size: 3rem;
	color: var(--link-color);
	margin: auto;
}

.list {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	list-style: none;
	padding: 0;
}

.list a {
	text-decoration: none;
	color: var(--text-color);
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
}

p,
li,
a,
.list h3 {
	text-shadow: 0 0 0.25rem var(--shadow-color);
	margin: 0;
}

.list h3 {
	font-size: inherit;
	margin: 0;
	font-weight: inherit;
	text-decoration: underline;
}

.list li {
	padding: 0.5rem 0.5rem;
	margin: 0;
	border: solid 0.0625rem transparent;
	border-radius: 0.25rem;
	transform: translateX(6.25rem);
	opacity: 0;
}

.list li:hover {
	border: solid 0.0625rem var(--border-color);
}

ul {
	list-style: square;
}

.tags {
	opacity: 0.75;
	text-transform: lowercase;
	font-size: 0.75rem;
	margin-bottom: 0;
}

/* interactivity */
#search-box {
	background: transparent;
	border: solid 0.0625rem var(--border-color);
	border-radius: 0.25rem;
	color: var(--alt-text-color);
	font-size: 1rem;
	padding: 0.125rem 0.5rem;
	width: 100%;
	box-sizing: border-box;
	background-color: var(--input-background);
	box-shadow: 0 0 0.5rem var(--shadow-color);
}

::-webkit-search-cancel-button {
	display: none;
}

#project-list,
#go-to-top {
	cursor: pointer;
}

#go-to-top {
	display: none;
	position: fixed;
	right: 0.5rem;
	bottom: 0.5rem;
	z-index: 99;
	background-color: transparent;
	color: var(--text-color);
	border: none;
	font-size: 2rem;
}

#go-to-top:hover {
	color: var(--link-color);
}

.tiles {
	display: none;
}

/* header */
header {
	flex-direction: column;
	margin: 1rem;
}

header,
nav,
.tiles {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	gap: 1rem;
}

header img {
	filter: invert(1);
	height: 10rem;
	animation: bounce 2s cubic-bezier(0.28, 0.84, 0.42, 1) 5s infinite;
}

/* footer */
footer {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	opacity: 0.75;
	text-align: center;
}

/* scroll bar */
::-webkit-scrollbar {
	width: 0.5rem;
}

::-webkit-scrollbar-thumb {
	border-radius: 1rem;
	background: var(--alt-text-color);
}

::-webkit-scrollbar-thumb:hover {
	background: var(--text-color);
}

/* selected text */
::selection {
	background: var(--alt-text-color);
	color: var(--background-color);
	text-shadow: none;
}

/* other media */
@media screen and (min-width: 50rem) {
	main {
		padding-left: 20vw;
		padding-right: 20vw;
	}
}

@media screen and (min-width: 125rem) {
	main {
		padding-left: 33vw;
		padding-right: 40vw;
	}
}

@media speech, print {
	#background,
	input,
	#go-to-top,
	h1::after {
		display: none;
	}
}

@media (prefers-reduced-motion: reduce) {
	* {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

@media print {
	:root {
		--text-color: black !important;
		--alt-text-color: black !important;
		--background-color: white !important;
		--gradient: transparent !important;
		--square-color: white !important;
		--border-color: black !important;
		--shadow-color: transparent !important;
		--link-color: blue !important;
		--link-hover-color: blue !important;
		--input-background: transparent !important;
	}

	body {
		background: white;
		color: black;
		font-family: Arial, Helvetica, sans-serif;
	}

	p,
	li,
	a {
		text-shadow: none;
	}

	header img {
		filter: invert(0);
	}

	.tiles a {
		display: none;
	}
}
